---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/new/Hero.astro";
import About from "../components/About.astro";
import Events from "../components/Events.astro";
import Timeline from "../components/Timeline.astro";
import Testimonials from "../components/Testimonials.astro";
import Choices from "../components/Choices.astro";
import ProfileGallery from "../components/ProfileGallery.astro";
import Footer from "../components/Footer.astro";
import AnnouncementBanner from "../components/AnnouncementBanner.astro";
---

<Layout title="Dialogh - Community for tech enthusiasts">
  <main class="h-full overflow-hidden">
    <div class="h-dvh w-full p-2 sm:p-3 md:p-4 relative">
      <!-- <HeroSection /> -->
      <Hero />
    </div>
    <!-- <ContentSection /> -->
    <About />
    <Events />
    <Testimonials
      class="testimonials-section fade-in-up-init"
      data-animate="fade-up"
    />
    <Timeline class="timeline-section fade-in-up-init" data-animate="fade-up" />
    <Choices class="choices-section fade-in-up-init" data-animate="fade-up" />
    <ProfileGallery
      class="profile-gallery fade-in-up-init"
      data-animate="fade-up"
    />
    <div class="m-2">
      <Footer />
    </div>
    <AnnouncementBanner />
  </main>
</Layout>
