---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import GradientImage from "../assets/images/G.png";
import Navbar from "../components/navbar.astro";
import Hero from "../components/Hero.astro";
import CanvasCusror from "../components/react/canvas-cursor";
import Footer from "../components/Footer.astro";
import Particles from "../components/react/particles";
import WordMarquee from "../components/WordMarquee.tsx";
import About from "../components/About.astro";
import ExclusiveFounding from "../components/exclusive-founding.astro";
import Bento from "../components/Bento.astro";
---

<Layout title="Dialogh - Community for tech">
  <section class="w-full">
    <div class="h-dvh relative overflow-hidden">
      <div class="lg:block hidden">
        <CanvasCusror client:only />
      </div>
      <!-- <div class="absolute size-full -z-10 hidden lg:block">
      <Particles client:only />
    </div> -->
      <div
        class="absolute -z-20 bottom-0 w-full h-full sm:right-auto background-gradient -right-96"
      >
      </div>
      <div class="sm:w-5/6 px-4 h-full mx-auto">
        <Navbar />
        <Hero />
      </div>
      <div class="sticky bottom-8 w-5/6 sm:w-5/6 px-4 mx-auto">
        <Footer />
      </div>
    </div>
    <div>
      <WordMarquee client:only />
    </div>
    <About />
    <ExclusiveFounding />
    <Bento />
  </section>
</Layout>

<style>
  @font-face {
    font-family: "tickerbit";
    src: url("/fonts/tickerbit-font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  .tickerbit {
    font-family: "tickerbit", sans-serif;
  }
</style>
