---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import ContentSection from "../components/ContentSection.astro";
---

<Layout title="Dialogh - Community for tech enthusiasts">
  <main class="bg-primary h-full">
    <div class="h-dvh w-full p-2 sm:p-3 md:p-4 relative">
      <HeroSection />
    </div>
    <ContentSection />
  </main>
</Layout>
