---
import { Image } from "astro:assets";
import HeartImage from "../assets/images/heart.png";
import { cn } from "../lib/utils";
import User from "./User.astro";
let socials = [
  {
    title: "Instagram",
    link: "https://instagram.com/dialogh.in",
    gradientFrom: "from-pink-500",
    gradientTo: "to-yellow-500",
  },
  {
    title: "Linkedin",
    link: "",
    gradientFrom: "from-blue-500",
    gradientTo: "to-gray-500",
  },
  {
    title: "Discord",
    link: "https://dsc.gg/dialogh",
    gradientFrom: "from-indigo-500",
    gradientTo: "to-purple-500",
  },
];

let images = [
  {
    alt: "Shiv",
    src: "https://i.imgur.com/q7Mw8zr.png",
  },
  {
    alt: "xingo__",
    src: "https://i.imgur.com/9z2MWGc.png",
  },
  {
    alt: "Saizo",
    src: "https://cdn.discordapp.com/avatars/532177714203852800/7e0cf3c3ef718aaff0559d5211c8444d.png?size=256",
  },
  {
    alt: "devesh",
    src: "https://cdn.discordapp.com/avatars/559928690604113940/50a629c000db0fd6b976b97bd0e6c5da.png?size=256",
  },
  {
    alt: "anant",
    src: "https://i.imgur.com/ikTmAlP.png",
  },
  {
    alt: "Super comic being",
    src: "https://cdn.discordapp.com/avatars/374105692690448386/cae8a443ca930cb5e02d5968ec60f48b.png?size=256",
  },
  {
    alt: "povesh",
    src: "https://cdn.discordapp.com/avatars/347999615783534592/aa40686c7d4e5909a693af8031613197.png?size=256",
  },
  {
    alt: "nick",
    src: "https://cdn.discordapp.com/avatars/1014875193396703302/bda9787977522c39f32e14438d9575c7.png?size=256",
  },
];
---

<section id="bento" class="sm:w-5/6 mt-48 px-4 mx-auto my-12">
  <div
    class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <div class="col-span-1 sm:col-span-2 md:col-span-3 w-full">
      <div class="grid sm:grid-rows-3 gap-6 w-full">
        <div class="rounded-2xl md:row-span-2 w-full sm:p-4 p-0">
          <div>
            <span class="lg:text-5xl xl:text-6xl md:text-5xl text-4xl"
              >Be a part of our Origin Story</span
            >
            <div
              class="bg-[#D9D9D933]/20 rounded-full sm:h-4 h-4 mt-4 shadow-white drop-shadow-lg"
            >
              <div
                class="bg-gradient-to-r from-[#FFA7E1] via-[#22189E] to-[#FFA7E1] sm:h-4 h-4 w-[90%] rounded-full animate-gradient bg-[length:200%_100%]"
              >
              </div>
            </div>
            <style>
              .animate-gradient {
                animation: gradient 3s linear infinite;
                background-size: 200% 100%;
              }
              @keyframes gradient {
                0% {
                  background-position: 100% 0;
                }
                100% {
                  background-position: -100% 0;
                }
              }
            </style>
            <div class="flex text-xs justify-between mt-1 items-center">
              <span class="text-white/60"> 200 founding members only </span>
              <span class="text-[#FFA7E1]"> 20 Members remaining </span>
            </div>
            <div
              class="mt-8 flex sm:flex-row flex-col sm:w-full sm:justify-between sm:items-center"
            >
              <User images={images} />
              <a
                href="https://www.dsc.gg/dialogh"
                target="_blank"
                class="bg-[#22189E] w-fit sm:mt-3 mt-6 py-2 px-6 rounded-full flex items-center"
              >
                Join the Founding Team Today
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  class="ml-2"
                >
                  <path d="M7 10h10l-4-4v3H0v2h13v3l4-4H7z" fill="currentColor"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div
          class="md:grid grid-cols-5 sm:mt-0 mt-24 w-full sm:gap-6 flex flex-col gap-2"
        >
          <div
            class="md:col-span-2 w-full md:h-auto h-32 rounded-2xl bg-[#0c0941]"
          >
            <div
              class="text-2xl w-full text-transparent bg-clip-text bg-gradient-to-r from-white to-[#999999] flex flex-col items-center justify-center h-full"
            >
              <div class="">
                <p>
                  We know you love <Image
                    src={HeartImage}
                    alt="De logo"
                    class="w-5 inline-block"
                  />
                </p>
                <p>tech the way we do</p>
              </div>
            </div>
          </div>
          <div
            class="md:col-span-2 col-span-2 md:h-auto h-32 rounded-2xl bg-white/10"
          >
            <div
              class="flex flex-col items-center justify-center w-full h-full"
            >
              <div>
                <p>{new Date().getFullYear()} Dialogh</p>
                <a
                  href="mailto:dialogh.community@gmail.com"
                  target="_blank"
                  class="text-blue-400 border-b border-transparent w-fit hover:border-blue-400"
                >
                  dialogh.community@gmail.com
                </a>
                <p>Built by Dialogh core team</p>
              </div>
            </div>
          </div>
          <div class="col-span-1 bg-white/10 rounded-2xl">
            <div
              class="flex flex-col w-full items-center justify-center h-full"
            >
              <div class="flex flex-col sm:p-0 p-2 gap-1">
                {
                  socials.map((social) => (
                    <a
                      href={social.link}
                      class={cn(
                        " text-white hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r transition-all",
                        social.gradientFrom,
                        social.gradientTo
                      )}
                      target="_blank"
                    >
                      {social.title}
                    </a>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-white/10 relative w-full hidden h-full lg:block md:flex flex-col items-center justify-center overflow-hidden rounded-2xl"
    >
      <div class="absolute w-full h-full bg-violet-500"></div>
      <span
        class="flex w-[70%] relative z-10 mx-auto h-full items-center justify-center text-4xl italic px-4"
      >
        “Growth happens outside your comfort zone, but inside a supportive"
      </span>
    </div>
  </div>
</section>
