---
import Footer from "./Footer.astro";

// Content section component
---

<div
  class="h-dvh lg:h-130 flex items-center justify-center flex-col px-4 sm:px-6 md:px-8 relative"
>
  <h2
    class="text-secondary/70 lg:absolute md:bottom-50 2xl:bottom-63 text-lg sm:text-xl lg:text-xl xl:text-xl max-w-full sm:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-[28%] text-center mx-auto leading-relaxed"
  >
    Dialogh isn't built to grow fast. It's built to grow right with the right
    people first.
  </h2>

  <p
    class="text-secondary/70 lg:absolute lg:bottom-25 text-base sm:text-lg mt-12 sm:mt-16 md:mt-20 lg:mt-24"
  >
    © 2025
  </p>
  <div class="absolute bottom-0 w-full pb-2">
    <Footer />
  </div>
</div>
