<div class="text-center py-4 sm:py-6 md:py-8">
  <a
    aria-label="Email us at"
    href="mailto:connect@dialogh.in"
    class="text-sm sm:text-base md:text-lg relative z-10">Connect@dialogh.in</a
  >
</div>
