---
import Discord from "./icons/discord.astro"
import Linkedin from "./icons/linkedin.astro"
import Instagram from "./icons/instagram.astro"
---

<footer class="text-white">
    <div class="flex items-center justify-between">
        <span class="text-6xl">Connect. Collaborate. Create.</span>
        <div class="flex gap-4 items-center ">
            <Discord class="size-8 hover:cursor-pointer" />
            <Linkedin  class="size-8 hover:cursor-pointer"/>
            <Instagram class="size-8 hover:cursor-pointer" />
        </div>
    </div>
</footer>