---
import Discord from "./icons/discord.astro";
import Linkedin from "./icons/linkedin.astro";
import Instagram from "./icons/instagram.astro";
---

<footer class="text-white w-full">
  <div class="flex sm:items-center justify-between items-start ">
    <span class="xl:text-6xl lg:text-4xl md:text-2xl text-xl flex flex-wrap sm:flex-row flex-col">
      <span>Connect.</span>
        <span>Collaborate.</span><span>Create.</span>
    </span>
    <div class="flex gap-4 items-center sm:pt-0 pt-2">
      <a href="https://dsc.gg/dialogh" target="_blank">
        <Discord class="size-8 hover:cursor-pointer" />
      </a>
      <a href="https://instagram.com/dialogh.in" target="_blank" class="">
        <Instagram class="size-8 hover:cursor-pointer" />
      </a>
      <a href="" class="opacity-50">
        <Linkedin class="size-8 hover:cursor-pointer" />
      </a>
    </div>
  </div>
</footer>
