---
import User from "./User.astro";
import Rohit from "../assets/images/Rohit.png";
import Yash from "../assets/images/Yash.png";
import Aagam from "../assets/images/Aagam.png";
let images = [
  {
    src: Yash,
    alt: "Yash Patil",
  },
  {
    src: Aagam,
    alt: "Aagam Jain",
  },
  {
    src: Rohit,
    alt: "Rohit Kushwaha",
  },
];
---

<main class="text-white mt-20">
  <div class="">
    <span class="xl:text-8xl  lg:text-8xl text-5xl tracking-tighter"
      >Let's Evolve With
    </span>
    <div
      class="flex md:flex-row flex-col lg:items-center items-start md:gap-5 gap-4"
    >
      <div class="md:flex hidden">
        <User size="large" images={images} />
      </div>
      <div>
        <span class="xl:text-8xl  lg:text-8xl text-5xl tracking-tighter">
          Tech, Together</span
        >
      </div>
    </div>
    <div class="md:hidden flex">
      <User size="small" images={images} />
    </div>
    <div
      class="md:text-[32px] text-xl md:font-thin font-regular mt-12 text-white/80 font-pp"
    >
      <span
        >Unlock creativity and innovation through collaboration, learning, &
        community <br /> support. Join the next generation of makers shaping the
        digital world.</span
      >
    </div>
  </div>
</main>
