---
import { Image } from "astro:assets";
import BgVector1 from "../assets/images/Vector.webp";
import CountdownTimer from "./CountdownTimer.astro";
import EmailSignup from "./EmailSignup.astro";
import ScrollDownButton from "./ScrollDownButton.astro";
import Email from "./Email.astro";
---

<div class="bg-secondary rounded-xl w-full h-full lg:h-170 relative overflow-hidden">
  <Email />

  <div class="absolute bottom-25 flex items-center justify-center inset-0 z-0 px-4 lg:bottom-35">
    <CountdownTimer />
    <Image src={BgVector1} alt="Background Vector" class="mb-4 absolute lg:w-xl" />
  </div>
  <div class="absolute bottom-2 lg:bottom-15 sm:bottom-4 mx-auto w-full px-4">
    <EmailSignup />
    <ScrollDownButton />
  </div>
</div>
