---
import '../styles/global.css'
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Join Dialogh, the ultimate online community for designers and developers. Connect, collaborate, and learn with like-minded professionals through engaging projects, workshops, and events. Become part of a thriving network of creators today!"
    />
    <meta name="og:title" content="Dialogh" />
    <meta name="og:description" content="Join Dialogh, the ultimate online community for designers and developers. Connect, collaborate, and learn with like-minded professionals through engaging projects, workshops, and events. Become part of a thriving network of creators today!" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://dialogh.in" />
    <meta name="og:image" content="https://dialogh.in/og.png" />
    <meta
      name="keywords"
      content="design, development, community, collaboration, projects, workshops, events, creators"
    />
    <meta name="author" content="Dialogh" />
    <meta name="theme-color" content="#8842ea" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.cdnfonts.com/css/pp-neue-montreal"
      rel="stylesheet"
    />
    <link rel="canonical" href="https://dialogh.in" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Dialogh" />
    <meta name="twitter:description" content="Join Dialogh, the ultimate online community for designers and developers. Connect, collaborate, and learn with like-minded professionals through engaging projects, workshops, and events. Become part of a thriving network of creators today!" />
    <meta name="twitter:image" content="https://dialogh.in/og.png" />
    <meta property="og:site_name" content="Dialogh" />
    <meta property="og:locale" content="en_US" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="0c560206-7fba-45d9-9f57-5d1870738ef1"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #000000;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    font-family: "PP Neue Montreal", sans-serif;
  }
</style>
